body{background-color: #eeeeee;
}

header{background-color: brown;
}

nav{background-color: aquamarine
}

#intro{background-color: lightpink;
}

.main-section-content h2{background-color:darkkhaki ;}